In [3]:
import pandas as pd # Подлкючение библиотеки пандас
import datetime

Объект Series

In [6]:
the_series = pd.Series([1,2,3,4,5]) # Series -- столбец
the_series # Вывод the_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
print(the_series[1])
the_series[4]

2

5

In [10]:
the_series[[1,4]] # Новый сериэс с элемю 1, 4

1    2
4    5
dtype: int64

In [12]:
# Создаем сериэс, задавая индекс самим
the_second_series= pd.Series(["one",'two','three','four','five'],
                             index= ['I','II','III','IV','V'])
the_second_series

I        one
II       two
III    three
IV      four
V       five
dtype: object

In [14]:
the_second_series[['II','IV']]
the_second_series.index # Смотрим индексы

Index(['I', 'II', 'III', 'IV', 'V'], dtype='object')

Генератор DateTime

In [16]:
the_dates = pd.date_range('2022-01-01','2022-09-26')
the_dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-09-17', '2022-09-18', '2022-09-19', '2022-09-20',
               '2022-09-21', '2022-09-22', '2022-09-23', '2022-09-24',
               '2022-09-25', '2022-09-26'],
              dtype='datetime64[ns]', length=269, freq='D')